/* Button */

.btn {
  font-family: var(--button-fontFamily);
  font-size: var(--button-fontSize);
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: var(--button-lineHeight);
  padding: var(--button-paddingY) var(--button-paddingX);
  margin: 0;
  height: auto;
  border: var(--borderWidth) solid transparent;
  border-radius: var(--borderRadius);
  vertical-align: middle;
  -webkit-appearance: none;
  color: var(--button-color);
  background-color: var(--button-bkg);

  @nest .is-reverse & {
    background-color: var(--button-bkg-reverse);
  }
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darker-2);
  box-shadow: 0 0 0 3px var(--darker-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
