/* Hiding */

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.display-none { display: none !important }

@media (--bp-xs) {
  .hide\@xs {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .display-none\@xs { display: none !important }
}

@media (--bp-sm) {
  .hide\@sm {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .display-none\@sm { display: none !important }
}

@media (--bp-sm-md) {
  .hide\@sm-md {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .display-none\@sm-md { display: none !important }
}

@media (--bp-md) {
  .hide\@md {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .display-none\@md { display: none !important }
}

@media (--bp-md-lg) {
  .hide\@md-lg {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .display-none\@md-lg { display: none !important }
}
