@import './modules/_variables.css';

.markdown {
  & h2,
  & h3,
  & p,
  & ol,
  & ul,
  & table {
    margin: calc(var(--lineHeight-4)*1rem) 0;
  }

  & h2,
  & h3 {
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  & ol,
  & ul {
    @media (--bp-sm) {
      padding-left: 0;
    }

    & > li {
      margin-bottom: calc(var(--lineHeight-4)*1rem/2);
    }
  }

  & > img,
  & figure {
    background-color: var(--lighter-4);
    display: block;
    margin: 0 auto calc(var(--lineHeight-4)*1rem);
    padding: var(--space-1);

    @nest .is-reverse & {
      background-color: var(--darker-3);
    }
  }

  & table {
    border-collapse: collapse;
    font-size: var(--h5);
    min-width: 100%;
  }

  & td, & th {
    border-bottom: 1px solid var(--borderColor-light);
    padding: var(--space-1) var(--space-3) var(--space-1) 0;
    text-align: left;

    @nest .is-reverse & {
      border-bottom: 1px solid var(--borderColor-light-reverse);
    }
  }

  & th {
    font-weight: var(--fontWeight-bold);
  }

  & table > caption,
  & figcaption {
    font-size: var(--h5);
    font-style: italic;
  }

  & table > caption {
    caption-side:bottom;
    text-align: center;
    margin-top: var(--space-1);
  }

  & figcaption {
    display: inline-block;
    margin: var(--space-1) auto 0;
    text-align: left;
  }

  & figure {
    margin-bottom: calc(var(--lineHeight-4)*1rem);
    text-align: center;
  }

  & figure > * {
    margin: 0 auto;
  }

  & figure > img {
    display: block;
  }

  & pre {
    background: var(--darker-1);
    font-size: var(--h5);
    overflow: auto;
    padding: var(--space-2);
    margin: calc(var(--lineHeight-4)*1rem) 0;

    @nest .is-reverse & {
      background: var(--lighter-1);
    }
  }

  & .left  { margin-right: calc(var(--lineHeight-4)*1rem); }
  & .right { margin-left: calc(var(--lineHeight-4)*1rem); }

  @media (--bp-sm) {
    & .left\@sm  { margin-right: calc(var(--lineHeight-4)*1rem); }
    & .right\@sm { margin-left: calc(var(--lineHeight-4)*1rem); }

    & .pull\@sm  { margin-left: calc(-1*var(--space-4)*2) }
    & .push\@sm { margin-right: calc(-1*var(--space-4)*2) }
  }

  @media (--bp-md) {
    & .left\@md  { margin-right: calc(var(--lineHeight-4)*1rem); }
    & .right\@md { margin-left: calc(var(--lineHeight-4)*1rem); }

    & .pull\@md  { margin-left: calc(-1*var(--space-4)*2) }
    & .push\@md { margin-right: calc(-1*var(--space-4)*2) }
  }
}

.footnotes {
  font-size: var(--h5);
}

.footnotes-list,
.footnotes-list p {
  margin: 0;
}

.footnotes-sep {
  border: none;
  border-top: 1px solid var(--borderColor-light);
  margin: calc(var(--lineHeight-4)*1rem) 0;

  @nest .is-reverse & {
    border-top-color: var(--borderColor-light-reverse);
  }
}
